body{
    line-height: 3;
    background-image: url(images/weatherbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}




h1{
    font-size: 5.5rem;
    margin-bottom: 2rem;
    font-weight: 1.5rem;
    color: #fff;
    font-weight: bolder;
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    font-family: 'Radley', serif;
}

h2{
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 1.5rem;
    color: #fff;
    font-family: 'Sen', sans-serif;
}

form{
    font-family: monospace;
}

.container-fluid{
    padding: 10rem 2rem;
    width: 90%;
    text-align: left;
}

@media (max-width: 900px){
    h1{
        font-size: 3.5rem;
    }
    h2{
        font-size: 2rem;
    }
    .container-fluid{
        padding: 5rem 1rem;
    }
}







@keyframes animate{
    0%{
        color: #fff;
    }
    20%{
        color: #ff9100;
    }
    40%{
        color: #ff3d00;
    }
    60%{
        color: #ff3d00;
    }
    80%{
        color: #ff9100;
    }
    100%{
        color: #fff;
    }
}
   